.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #333;
}

.login-box {
    width: 1000px;
    height: 474.38px;
    border-radius: 8px;
    display: flex;
}

.login-box img {
    width: 60%;
    height: auto;
}

.title {
    margin: 0px auto 30px auto;
    text-align: center;
    color: #707070;
}

.login-form {
    background: #ffffff;
    width: 40%;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form .el-form {
    width: 214px;
    height: 307px;
}

.login-form .el-form-item {
    margin-bottom: 30px;
}

.login-form .el-form-item.is-error .el-input__inner {
    border: 0 !important;
    border-bottom: 1px solid #fd7065 !important;
    background: #fff !important;
}

.login-form .input-icon {
    height: 32px;
    width: 18px;
    margin-left: -2px;
}

.login-form .el-input__inner {
    border: 0;
    border-bottom: 1px solid #e9e9e8;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    height: 32px;
    line-height: 32px;
}

.login-form .el-input__prefix {
    left: 0;
}

.login-form .el-input--prefix .el-input__inner {
    padding-left: 26px;
}

.login-form .el-input__inner::placeholder {
    color: #aeb5c4;
}

.login-form .el-form-item--medium .el-form-item__content {
    line-height: 32px;
}

.login-form .el-input--medium .el-input__icon {
    line-height: 32px;
}

.login-btn {
    border-radius: 17px;
    padding: 11px 20px !important;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    border: 0;
    background-color: #ffc200;
}

.login-btn:hover,
.login-btn:focus {
    /* background: #FFC200; */
    /* color: #ffffff; */
}

.login-form-title {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.login-form-title .title-label {
    font-weight: 500;
    font-size: 20px;
    color: #333333;
    margin-left: 10px;
}
